<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LaParola_Screensaver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <LaParola_Screensaver.Properties.Settings>
            <setting name="SfondoColore" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ScreensaverNuovaVersione" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FontColore" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="FontNome" serializeAs="String">
                <value>Palatino Linotype</value>
            </setting>
            <setting name="FontDimensione" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="FontGrassetto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FontCorsivo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FontSottolineato" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DirezioneVerticale" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Velocita" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="PosizioneCasuale" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Brano" serializeAs="String">
                <value/>
            </setting>
            <setting name="PerCapitoli" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OrdineBiblico" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Versione" serializeAs="String">
                <value/>
            </setting>
            <setting name="InterfacciaLingua" serializeAs="String">
                <value/>
            </setting>
        </LaParola_Screensaver.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
