<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto"
    android:versionCode="92"
    android:versionName="1.2.12">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Some Chromebooks don't support touch. Although not essential,
 it's a good idea to explicitly include this declaration.   -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".ui.android.LaParolaApplication"
        android:allowBackup="true"
        android:backupAgent=".ui.android.LaParolaBackupAgent"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupOnly="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:restoreAnyVersion="true"
        android:usesCleartextTraffic="true"
        tools:ignore="DataExtractionRules"
        tools:targetApi="31">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAI-vfNFipbQ83T0MY8LBKsJkWKDYFEhsynV6NREw" />

        <activity
            android:name=".ui.android.LaParolaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LaParola"
            android:uiOptions="splitActionBarWhenNarrow">
            <!--android:uiOptions="splitActionBarWhenNarrow"-->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.android.library.LibraryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/version_management"
            android:theme="@style/Theme.LaParola.Library" />

        <activity
            android:name=".ui.android.LaParolaPreferencesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/preferences"
            android:theme="@style/Theme.LaParola.Preferences" />

        <service
            android:name=".ui.android.library.downloadmanager.LibraryDownloaderService"
            android:exported="false" />

    </application>

</manifest>