<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LaParola.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <LaParola.Properties.Settings>
            <setting name="UltimaDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="InterfacciaLingua" serializeAs="String">
                <value/>
            </setting>
            <setting name="PrincipaleWindowState" serializeAs="String">
                <value>Maximized</value>
            </setting>
            <setting name="MostraVersioni" serializeAs="String">
                <value/>
            </setting>
            <setting name="MostraVersioniScelte" serializeAs="String">
                <value/>
            </setting>
            <setting name="FormatoFontNome" serializeAs="String">
                <value/>
            </setting>
            <setting name="FormatoFontDimensione" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="FormatoFontStileGrassetto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormatoFontStileCorsivo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormatoFontStileSotto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LibriAbbUsate" serializeAs="String">
                <value/>
            </setting>
            <setting name="LibriNomi" serializeAs="String">
                <value/>
            </setting>
            <setting name="LibriAbbRiconosciute" serializeAs="String">
                <value/>
            </setting>
            <setting name="FormatoFontRifNome" serializeAs="String">
                <value/>
            </setting>
            <setting name="FormatoFontRifDimensione" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="FormatoFontRifStileGrassetto" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FormatoFontRifStileCorsivo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormatoFontRifStileSotto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormatoRifTipo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormatoRifPosto" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormatoRifFormato" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FormatoRifApice" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormatoTestoBibbia" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OpzioniPanello" serializeAs="String">
                <value/>
            </setting>
            <setting name="UltimaBibbia" serializeAs="String">
                <value/>
            </setting>
            <setting name="ImportaDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="RicercaVersione" serializeAs="String">
                <value/>
            </setting>
            <setting name="RicercaRicerchePrecedenti" serializeAs="String">
                <value/>
            </setting>
            <setting name="MostraBraniPrecedenti" serializeAs="String">
                <value/>
            </setting>
            <setting name="MiscRichiesteMemorizzate" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PrincipaleSfogliaBraniPrecedenti" serializeAs="String">
                <value/>
            </setting>
            <setting name="ImportaFilePrecedenti" serializeAs="String">
                <value/>
            </setting>
            <setting name="FormatoFontRicercaDimensione" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="FormatoFontRicercaNome" serializeAs="String">
                <value/>
            </setting>
            <setting name="FormatoFontRicercaStileSotto" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FormatoFontRicercaStileCorsivo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormatoFontRicercaStileGrassetto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrincipaleSfogliaRicerchePrecedenti" serializeAs="String">
                <value/>
            </setting>
            <setting name="PrincipaleBarraDiStato" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpzioniStessaFinestra" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImportaDirectoryPrecedenti" serializeAs="String">
                <value/>
            </setting>
            <setting name="ImportaXMLDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="FormatoFontColore" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="FormatoFontRifColore" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="FormatoFontRicercaColore" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Commentari" serializeAs="String">
                <value/>
            </setting>
            <setting name="OpzioniIpertestoTooltip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChiaveVersione" serializeAs="String">
                <value/>
            </setting>
            <setting name="ChiaveBraniPrecedenti" serializeAs="String">
                <value/>
            </setting>
            <setting name="ChiaveIpertesto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChiaveOrdine" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChiaveParoleRadici" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChiaveNumeroMinimo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ChiaveNonRadiciComuni" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChiaveRadiciComuni" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="UltimaDirectoryImmagini" serializeAs="String">
                <value/>
            </setting>
            <setting name="InfoPrecedenti" serializeAs="String">
                <value/>
            </setting>
            <setting name="PrincipaleComandiPrecedenti" serializeAs="String">
                <value/>
            </setting>
            <setting name="PrincipaleBSPrincipale" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrincipaleBSFormato" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrincipaleBSOrdine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrincipaleBSComando" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CartelleDaCercare" serializeAs="String">
                <value/>
            </setting>
            <setting name="FormatoFontGrecoNome" serializeAs="String">
                <value/>
            </setting>
            <setting name="FormatoFontGrecoDimensione" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="FormatoFontGrecoColore" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="FormatoFontGrecoStileCorsivo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormatoFontGrecoStileGrassetto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormatoFontGrecoStileSotto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormatoFontEbraicoNome" serializeAs="String">
                <value>Times New Roman</value>
            </setting>
            <setting name="FormatoFontEbraicoDimensione" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="FormatoFontEbraicoColore" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="FormatoFontEbraicoStileCorsivo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormatoFontEbraicoStileGrassetto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormatoFontEbraicoStileSotto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AggiornamentoManuale" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AggiornamentoGiorni" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="AggiornamentoUltimo" serializeAs="String">
                <value>2006-01-01</value>
            </setting>
            <setting name="AggiornamentoTestiNascosti" serializeAs="String">
                <value/>
            </setting>
            <setting name="DizionarioInglese" serializeAs="String">
                <value/>
            </setting>
            <setting name="DizionarioItaliano" serializeAs="String">
                <value/>
            </setting>
            <setting name="DizionarioGreco" serializeAs="String">
                <value/>
            </setting>
            <setting name="DizionarioEbraico" serializeAs="String">
                <value/>
            </setting>
            <setting name="DizionarioTooltip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AggiornamentoProxyHost" serializeAs="String">
                <value/>
            </setting>
            <setting name="AggiornamentoProxyPorta" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AggiornamentoProxyNomeUtente" serializeAs="String">
                <value/>
            </setting>
            <setting name="AggiornamentoProxyPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="AggiornamentoProxyDominio" serializeAs="String">
                <value/>
            </setting>
            <setting name="UltimaBibbiaCompleta" serializeAs="String">
                <value/>
            </setting>
            <setting name="LetturaUltima" serializeAs="String">
                <value/>
            </setting>
            <setting name="LetturaGiorniOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LetturaVersione" serializeAs="String">
                <value/>
            </setting>
            <setting name="LetturaAvvio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MiscNuovaVersione" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MiscArrangementDefault" serializeAs="String">
                <value/>
            </setting>
            <setting name="MiscArrangementDefaultType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DizionarioLatino" serializeAs="String">
                <value/>
            </setting>
            <setting name="EvidenziaTipo" serializeAs="String">
                <value>highlighter</value>
            </setting>
            <setting name="EvidenziaColore" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="PrincipaleFontPreferiti" serializeAs="String">
                <value/>
            </setting>
            <setting name="RicercaBraniPrecedenti" serializeAs="String">
                <value/>
            </setting>
            <setting name="SegnalibriVeloci" serializeAs="String">
                <value>|||||||||</value>
            </setting>
            <setting name="PrincipaleClipboardTempo" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="PrincipaleClipboardLunghezzaMassima" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="PrincipaleClipboardAttivo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImportaEswordPrecedenti" serializeAs="String">
                <value/>
            </setting>
            <setting name="ImportaEswordDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="VideoInstallati" serializeAs="String">
                <value/>
            </setting>
            <setting name="ChiaveConRiferimenti" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrincipaleMassimoVociMenu" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReadingsLocationX" serializeAs="String">
                <value>-9999</value>
            </setting>
            <setting name="ListaTestiFormato" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ListaTestiOrdine" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ListaTestiColonneSelezionate" serializeAs="String">
                <value>1|2|4|10</value>
            </setting>
            <setting name="ReadingsLocationY" serializeAs="String">
                <value>-9999</value>
            </setting>
            <setting name="ReadingsSizeX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReadingsSizeY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EsportaVersione" serializeAs="String">
                <value/>
            </setting>
            <setting name="EsportaTipoBibbia" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EsportaTipoCollezione" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EsportaDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="OpzioniIpertestoTooltipInTooltip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MostraAlterna" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormatoTitoliVisualizzati" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FormatoRifContestoRicerche" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MostraDefinizioni" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChiaveDefinizioni" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SimiliVersione" serializeAs="String">
                <value/>
            </setting>
            <setting name="SimiliBraniPrecedenti" serializeAs="String">
                <value/>
            </setting>
            <setting name="SimiliVersetti" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SimiliNumeroMassimo" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DizionarioSpagnolo" serializeAs="String">
                <value/>
            </setting>
            <setting name="QuizGiusto" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QuizSbagliato" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MostraAltezza" serializeAs="String">
                <value>0</value>
            </setting>
        </LaParola.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup>
	<runtime>
		<AppContextSwitchOverrides value="Switch.System.Net.DontEnableSystemDefaultTlsVersions=false" />
	</runtime>
</configuration>
